.fab {
  font-size: 36px;
}

.show-secondary-data {
  list-style-type: none;
  color: black;
  padding-left: 0;
  margin-left: 0;
}

.errors-message {
  color: red;
}

.margin-bottom-value {
  margin-bottom: 30px;
}
