.button-otaku-no-border {
  font-size: $button-font-size;
  padding: $button-padding;

  &.clear {
    opacity: 0.6;
  }
}

.button-otaku-no-border:hover {
  color: white;
  text-decoration: none;

  &.clear {
    opacity: 1;
  }
}