.footer {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 30px;
    color: rgba(0, 0, 0, 0.3);
}

.footer-copyright p {
    border-top: 1px solid #11091C;
    padding: 15px;
    color: #343a40;
}