#search-form-title {
    display: flex;
    border-bottom:2px solid white;
    margin-bottom: 20px !important;
    padding-top: -40px; 
    h1 {
        border-bottom-style: none;
    }
}

#search-bar {
    width:400px;
}
