$card-height: 120px;

.card-product {
  overflow: hidden;
  height: $card-height;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.card-product img {
  height: $card-height;
  width: $card-height;
  object-fit: contain;
}

.card-product h2 {
  font-family: 'Cardo', serif;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.card-product span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .btn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  padding: 0.75rem 2rem;
}

.card-product .btn:hover {
  color: white;
  text-decoration: none;
  background-color: #343a40;
}

.card-product .show-button {
  border-radius: 4px;
  border: 0.5px solid #343a40;
  font-weight: 100;
  position: absolute;
  right: 50px;
}