#map {
    margin-left: 740px;
    margin-top: 250px;
}

.mapboxgl-map {
    overflow: auto !important;
    position: absolute !important;
}

.map-overlay {
    overflow: auto !important;
    position: absolute !important;
}