.parrallax {
    background-image: url("https://res.cloudinary.com/ddzk8vfke/image/upload/v1558689866/final-valley_jkq38h.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-cards-product {
    background: white;
    min-height: 100vh;
}
