$card-height: 150px;

.recap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
}

.recap-grid .description-recap-card p {
  font-size: 12px;
  text-align: center;
  line-height: 5px;
}

.img-recap-card {
  margin-left: 15px;
}

.recap-card {
  height: $card-height;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  margin: 5px 15px 10px 15px;
}

.recap-card .description-recap-card {
  padding: 10px 0px 0px 5px;
  width: 100%;

  h3 {
    text-align: center;
    font-size: 18px !important;
    padding-bottom: 10px;
  }
}

.recap-card .description-recap-card .information-manga {
  margin-top: -10px;
  padding: 10px 0px 0px 5px;
}

.recap-card .description-manga {
  opacity: 0;
}

// .recap-card {
//   #title-manga {
//     opacity: 1;
//     transition: 1s;
//   }
//   .description-manga {  
//     padding: 10px 0px 0px 5px;
//     margin-top:-250px;
//     opacity: 0;
//     transition: 1s;
//   }
//   .information-manga {
//     opacity: 1;
//     transition: 1s;
//   }
// }

// Css hover description pour le futur

// .recap-card:hover {
//   #title-manga {
//     opacity: 0;
//     transition: 0.5s;
//   }
//   .description-manga {
//     opacity: 1;
//     transition: 0.5s;
//   }
//   .information-manga {
//     opacity: 0;
//     transition: 0.5s;
//   }
// }

@media (max-width: 1200px) {
  .recap-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media (max-width: 840px) {
  .recap-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .information-manga {
    display: none;
  }
}