// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.5), rgba(117, 19, 93, 0.5)), url('https://res.cloudinary.com/ddzk8vfke/image/upload/v1558439021/da9y4xxogga2sdpwdwyn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.wrapper {
  min-height: calc(100vh - 198px);
}
